

<section class="common">
    <div class="container">
        <div class="row">
            <div ng-repeat="x in mjhGallery">
                <div class="col-sm-3">
                    <figcaption class="mjhGalleryImage">
                        <a class="fancybox" rel="gallery1" href="{{x.mjhbgimg}}" title="">
                            <img src="{{x.mjhsmimg}}" alt="" />
                        </a>
                    </figcaption>
                </div>
            </div>
        </div>
    </div>
</section>


