<section class="common">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div ng-repeat="x in ProductData">
                    <div class="col-sm-3">
                        <div class="products">
                            <figure class="productlist">
                                <img ng-src="{{x.Productimg}}">
                                <figcaption class="cart">
                                    <button class="btn button-gt"><p>Buy Now</p></button>
                                </figcaption>
                            </figure>
                            <div class="productdetails">
                                <h4>{{x.Producth}}</h4>
                                <p class="pname">{{x.Productn}}</p>
                                <p class="pirce">{{x.Productp}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>