
h1,h2,h3,h4,h5,h6,ul,p{
    margin:0;
    padding: 0;
}
ul li{
    list-style: none;
}

/*==============Common===========*/
/*==========Header=========*/
.commonHeader{
}
.tcontact{
    padding: 10px 0px;
    /*background-color: rgba(136, 136, 136, 0.36);*/
    background-color: rgb(132, 26, 6);
}
.ttcontact li{
    float: left;
    /*color: #545454;*/
    color: #BFB9B9;
    padding-right: 15px;
    font-family: oswaldregular;
}
.ttcontact li i{
    /*color: #E42D0B;*/
    color:white;
}
.commonHeader .navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin: 8px 0px;
}
.commonnavbar{
    background-color: whitesmoke;
    box-shadow: 0px 2px 10px #CCCCCC;
    background-color: rgb(228, 45, 11);
   /*background-color: rgba(27,27,27,0.3);*/
}
.navbar-brand {
    float: left;
    padding: 5px 0px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    margin-right: 15px;
}
.navbar-form.navbar-right .form-control{
    border-radius: 0;
}
.navbar-form.navbar-right .btn.btn-default{
    border-radius: 0;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
    color: white;
    padding: 0px 0px 5px;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    /*color: #777777;*/
    color:#ABA9A9;
    padding: 0px 0px 5px;
    margin: 0px 15px;
    position: relative;
    font-family: Helvetica Neue,Arial;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > .active > a:before{
    content: "";
    border-radius: 1px;
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    background: white;
    /*background: rgb(248, 92, 55);*/
    height: 2px;
    width: 100%;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    z-index: 1;
}
.navbar-default .navbar-nav > li > a:hover:before{
    content: "";
    border-radius: 1px;
    position: absolute;
    left: 0;
    right: 100%;
    bottom: 0;
    /*background: rgb(248, 92, 55);*/
    background: white;
    height: 2px;
    width: 100%;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    z-index: 1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    /*color: #333333;*/
    background-color: transparent;
}
.nav.navbar-nav{
    padding: 15px 0px;
}

.navbar-brand {
    float: left;
    padding: 5px 0px;
    font-size: 18px;
    line-height: 30px;
    height: 50px;
    margin-right: 15px;
    text-transform: uppercase;
    font-size: 50px;
}
.navbar-brand a{
    color: #FFDD23;
    text-decoration: none;
}
/*==========Footer========*/
.footer {
    margin-top: 30px;
}
.footer{
    background-color: #545353;
    padding: 20px 0px 0px;
}
.cheader{
    padding-bottom: 15px;
    color: white;
}
.cheader h3{
    font-family: Helvetica Neue,Arial;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.fcontact{
    color: #9C9C9C;
}


.cfooter{
    overflow: hidden;
    padding: 15px 0px;
}
.fporduct li a{
    color: #9C9C9C;
    text-decoration: none;
    -webkit-transition:.7s;
}


.fNews li{
    overflow:hidden;
    padding-bottom: 5px;
}
.recentNimg{
    width:20%;
    float:left;
}
.recentNimg img{
    width:100%;
}
.recentN{
    width:80%;
    float:left;
    padding-left: 15px;
}
.recentN a{
    color: #9C9C9C;
    text-decoration: none;
    -webkit-transition:.7s;
}
.fporduct li a:hover,
.recentN a:hover{
    color:white;
    margin-left:2px ;
}
.ndate span{
    color: #6F6F6F;
}
.fcopyright{
    background-color: #3A3A3A;
    padding: 20px 0px;
    color: #B7B7B7;
}
/*==============C-End============*/


/*=================Home==============*/
.common{
    padding-top:30px;
}
.common-header{
    padding: 0px 0px 15px;
    text-transform: uppercase;
    /*font-family: Helvetica Neue;*/
    font-family: oswaldregular;
}
.common-header h2{
    /*border-bottom: 2px solid #CE2A16;*/
}
.CommonLists{
    overflow: hidden;
    font-family: Helvetica Neue;
}
.fproducts{
    margin-bottom:30px ;
}
.fproduct{
    position:relative;
}
.fproduct img{
    width:100%;
    height: 262px;
}
.fdetail{
    position: absolute;
    top: 0;
    height: 100%;
    padding: 20px;
    color: #DADADA;
    display: block;
    text-align: center;
    background-color: rgba(33, 150, 169, 0.87);
}

/*===========Banner==========*/
#Banner{
    overflow: hidden;
}
#Banner img{
    width:100%;
}













.fdetail h4{
    padding-bottom: 15px;
}
a.externalink{
    font-size: 25px;
    border: 2px solid #C7C5C5;
    padding: 10px 6px 4px;
    background-color: #847E7E;
    border-radius: 5px;
    display: inline-block;
    line-height: 0px;
    margin-top: 12px;
    color: #0CA7BF;
}



/*---------Sliphover------*/
.sliphover-overlay div {
    position: relative;
    padding: 20px;
    width: 100%;
    height: 100%;
}
.sliphover-overlay div img{
    min-height: 262px;
}
.sliphover-overlay div h4{
    padding-bottom: 15px;
}
/*---------End------*/




.services{
    /*background-color: #DEEAEA;*/
    overflow: hidden;
    padding: 15px;
    /*box-shadow: 3px 3px 6px #9C9A9A;*/
}
.serviceimg{
    text-align: center;
    font-size: 40px;
    border: 1px solid #ECECEC;
}
.serviceimg i{
    color: #CE2A16;
    line-height: 130px;
}
.serviceDetail{
    padding: 15px 0px 0px 0px;
    text-align: center;
}
.serviceDetail h3{
    color: #4A4949;
    margin-bottom: 10px;
}
.serviceDetail p{
    color: #9C9C9C;
    text-align: left;
}
a.readmbtn{
    //background: #CE2A16;
    //padding: 10px;
    color: #CE2A16;
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
}
/*a.readmbtn:hover{*/
    /*background: #79B9B9;*/
/*}*/






.details img{
    width:100%;
    height: 262px;
}
.details{
    box-shadow: 1px 1px 8px -3px black;
    /*margin: 0px 5px;*/
    margin: 0px 0px 30px;
    overflow: hidden;
    position: relative;
}
.details .btn{
    float: right;
    border-radius: 0;
    background-color: #CE2A16;
}
.details .btn i{
    color: white;
}
.details .btn:active{
    outline: 0;
    box-shadow: none;
}









#NewsEvent .item{
    padding: 0px 15px;
}
#NewsEvent .item img{
    width:100%;
}
#Partner .item{
    padding: 0px 15px;
    /*margin: 0px 5px;*/
}
#Partner .item img{
    width:100%;
}
.owl-controls.clickable{

}
.owl-pagination{
    display:none;
}

.owl-carousel .owl-wrapper-outer{
    overflow: visible;
}
.Newsarticle{
    padding: 0px 15px 15px;
}
.Newsarticle header{
    margin-top: -30px;
    background-color: white;
    position: relative;
    width: 100%;
    padding: 8px 10px 10px;
    margin-bottom: 8px;
    /*box-shadow: 0px -2px 2px 0px black;*/
}


.owl-buttons{
    position: absolute;
    top: -35px;
    right: 10px;
    z-index: 999;
}
.owl-theme .owl-controls .owl-buttons div{
    border-radius: 0;
    background-color: #CE2A16;
}

.owl-carousel.owl-theme.ee-owl{
    overflow: hidden;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
#bar{
    width: 0%;
    max-width: 100%;
    height:10px;
    background: #7fc242;
}
#progressBar{
    width: 100%;
    background: #EDEDED;
}








/*==============Product============*/
.products{
    overflow: hidden;
    padding-bottom: 30px;
}
.productlist{
    position:relative;
    overflow: hidden;
}
.products img{
    width:100%;
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
}
.productlist:hover img{
    opacity: .5;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.productlist:hover .cart button{
    visibility: visible;
    opacity: 1;
    transform: rotate3d(0,1,0,-180deg);
}
.productlist:hover .cart button p{
    transform: rotate3d(0,1,0,180deg);
}
.cart button{
    height: 30px;
    left: 50%;
    visibility: hidden;
    margin-left: -65px;
    margin-top: -15px;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 50%;
    width: 130px;
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
    -webkit-perspective: 400px;
    perspective: 400px;
    color: white;
    line-height: 0;
    background-color: #CE2A16;
    font-family: oswaldregular;
}
.productdetails{
    padding:15px 0px 0px;
}
.productdetails h4{
    color: #CE2A16;
    font-family: oswaldregular;
}
.pname{
    padding:2px 0px;
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.pirce{
    font-size: 25px;
    font-family: Helvetica Neue;
}


/*==============Service============*/
/*==============Gallery============*/
.mjhGalleryImage{
    padding-bottom: 16px;
    margin: 0px -8px;
}
.mjhGalleryImage img{
    width:100%;
}




/*==============About============*/
/*==============Contact============*/

.contact_address address {
    line-height: 30px;
}
.field_section {
    margin-bottom: 15px;
}
.field_section input {
    outline: 0;
    width: 100%;
    min-height: 48px;
    padding: 10px;
    color: white;
    border: 1px solid #F7EEEE;
    background-color: #ccc;
}
.field_section textarea {
    outline: 0;
    padding: 10px;
    width: 100%;
    color: white;
    min-height: 250px;
    border: 1px solid #F7EEEE;
    background-color: #ccc;
}
.send_btn {
    margin-top: 15px;
    line-height: 0;
    padding: 20px 25px 16px 25px;
    float: right;
    background-color: #ccc;
    color: #545353;
    border: none;
    outline: 0;
}


























