<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
  <head>
    <meta charset="UTF-8">
    <title ng-bind="pageTitle"></title>
    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@joshdmiller">
    <meta name="twitter:title" content="ngBoilerplate">
    <meta name="twitter:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="twitter:creator" content="@joshdmiller">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="ngBoilerplate" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bit.ly/ngBoilerplate" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>







  <link rel="stylesheet" type="text/css" href="assets/fonts/font-awesome/css/font-awesome.css">


  <link rel="stylesheet" type="text/css" href="assets/fonts/oswald-regular/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="assets/fonts/Helvetica/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="assets/fonts/HelveticaNeue/stylesheet.css">



  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.transitions.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css"/>

  <link rel="stylesheet" type="text/css" href="vendor/googlemap/example.css">
  <link rel="stylesheet" type="text/css" href="assets/style.css">


  <script type="text/javascript" src="vendor/jquery/jquery-1.11.3.js"></script>
    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= file %>"></script><% }); %>
    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <!--<script type="text/javascript" src="https://apis.google.com/js/plusone.js">-->
      <!--{ "parsetags": "explicit" }-->
    <!--</script>-->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

    <!------------------google-map------------>
    <script src="vendor/googlemap/lodash.js"></script>
    <script src='http://maps.googleapis.com/maps/api/js'></script>
    <script src="vendor/googlemap/angular-google-maps.js"></script>
    <script src="vendor/googlemap/issue-74-markers-events.js"></script>


    <script src="vendor/SlipHover/src/jquery.sliphover.js"></script>

  </head>
  <body>
    <header class="commonHeader">
      <div class="tcontact">
        <div class="container">
          <ul class="ttcontact">
            <li><i class="fa fa-envelope"></i>  Info@everexpert.com</li>
            <li><i class="fa fa-phone-square"></i>  +8801919998888</li>
          </ul>
        </div>
      </div>
      <nav class="commonnavbar">
        <div class="container">
          <div class="navbar navbar-default">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
                ng-click="menuCollapsed = ! menuCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="navbar-brand">
                <small>
                  <a href=" ">
                    <!--<img ng-src="/home/janar/everexpert-2/ng-boilerplate/src/assets/images/home/ee-icon.png">-->
                    msef
                  </a>
                </small>
              </div>
            </div>
              <div class="collapse navbar-collapse" collapse="menuCollapsed">
                <ul class="nav navbar-nav">
                  <li ui-sref-active="active">
                    <a href ui-sref="home">
                      Home
                    </a>
                  </li>
                  <li ui-sref-active="active">
                    <a href ui-sref="product">
                      Product
                    </a>
                  </li>
                  <li ui-sref-active="active">
                    <a href ui-sref="service">
                      Service
                    </a>
                  </li>

                  <li ui-sref-active="active">
                    <a href ui-sref="gallery">
                      Gallery
                    </a>
                  </li>
                  <li ui-sref-active="active">
                    <a href ui-sref="about">
                      About
                    </a>
                  </li>
                  <li ui-sref-active="active">
                    <a href ui-sref="contact">
                      Contact
                    </a>
                  </li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </form>
              </div>
          </div>
        </div>
      </nav>
    </header>
    <!-------Ui-View----->
    <div ui-view="main"></div>
    <!-------Ui-View----->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div class="cfooter">
              <header class="cheader">
                <h3>Contact Us</h3>
              </header>
              <div class="fcontact">
                <h4>Lorem ipsum dolor</h4>
                <p>Lorem ipsum dolor<br>Lorem ipsum dolor<br>Lorem ipsum dolor</p>
                <span>Phone:+8801919199100</span>
                <span>Email:info@everexpert.com</span>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="cfooter">
              <header class="cheader">
                <h3>Our Products</h3>
              </header>
              <ul class="fporduct">
                <li><a  href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a  href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a  href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a  href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a  href="#">Lorem ipsum dolor sit amet</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3">
              <div class="cfooter">
                <header class="cheader">
                  <h3>Recent News</h3>
                </header>
                <ul class="fNews">
                  <li>
                      <figcaption class="recentNimg">
                        <img ng-src="/home/janar/everexpert-2/ng-boilerplate/src/assets/images/home/shamoli-filling.jpg"/>
                      </figcaption>
                      <div class="recentN">
                        <a  href="#">Lorem ipsum dolor sit amet</a>
                        <div class="ndate">
                          <span class="date">10</span>
                          <span class="month">Oct</span>
                          <span class="year">2015</span>
                        </div>
                      </div>
                  </li>
                  <li>
                    <figcaption class="recentNimg">
                      <img ng-src="/home/janar/everexpert-2/ng-boilerplate/src/assets/images/home/shamoli-filling.jpg"/>
                    </figcaption>
                    <div class="recentN">
                      <a  href="#">Lorem ipsum dolor sit amet</a>
                      <div class="ndate">
                        <span class="date">10</span>
                        <span class="month">Oct</span>
                        <span class="year">2015</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
          </div>
          <div class="col-sm-3">

          </div>
        </div>
      </div>
      <div class="fcopyright">
        <div class="container">
          <p class="copyright">Copyright &copy 2015 EverexpertInfo System.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
