





<section class="common">
  <div class="container">
    <div id="Banner" class="owl-carousel owl-theme">
      <div class="item"><img src="/home/janar/everexpert-2/ng-boilerplate/src/assets/images/home/fullimage3.jpg" alt="Owl Image"></div>
      <div class="item"><img src="/home/janar/everexpert-2/ng-boilerplate/src/assets/images/home/fullimage7.jpg" alt="Owl Image"></div>
      <div class="item"><img src="/home/janar/everexpert-2/ng-boilerplate/src/assets/images/home/fullimage3.jpg" alt="Owl Image"></div>
      <div class="item"><img src="/home/janar/everexpert-2/ng-boilerplate/src/assets/images/home/fullimage3.jpg" alt="Owl Image"></div>
      <div class="item"><img src="/home/janar/everexpert-2/ng-boilerplate/src/assets/images/home/fullimage7.jpg" alt="Owl Image"></div>
      <div class="item"><img src="/home/janar/everexpert-2/ng-boilerplate/src/assets/images/home/fullimage3.jpg" alt="Owl Image"></div>
      <div class="item"><img src="/home/janar/everexpert-2/ng-boilerplate/src/assets/images/home/fullimage3.jpg" alt="Owl Image"></div>
      <div class="item"><img src="/home/janar/everexpert-2/ng-boilerplate/src/assets/images/home/fullimage7.jpg" alt="Owl Image"></div>
    </div>
  </div>
</section>









<!--<section class="common">-->
  <!--<div class="container">-->
    <!--<div id="owl-demo" class="owl-carousel owl-theme ee-owl">-->
      <!--<div ng-repeat="x in banner">-->
        <!--<div class="item">-->
          <!--<img ng-src="{{x.bannerimg}}" alt="Owl Image">-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--</section>-->
<!--<section class="common">-->
  <!--<div class="container" >-->
    <!--<header class="common-header">-->
      <!--<h2>Featured Products</h2>-->
    <!--</header>-->
    <!--<div class="row">-->
      <!--<div ng-repeat="x in Pdata">-->
        <!--<div class="col-sm-3">-->
          <!--<div class="fproducts">-->
            <!--<figure class="fproduct">-->
              <!--<img ng-src="{{x.pimg}}">-->
              <!--<figcaption class="fdetail">-->
                <!--<h4>Lorem ipsum dolor sit amet</h4>-->
                <!--<p>Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet</p>-->
                <!--<a href="#" class="externalink"><i class="fa fa-external-link"></i></a>-->
              <!--</figcaption>-->
            <!--</figure>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div ng-repeat="x in PPdata">-->
        <!--<div class="col-sm-3">-->
          <!--<div class="fproducts">-->
            <!--<figure class="fproduct">-->
              <!--<img ng-src="{{x.ppimg}}" title="<h4>{{x.pph}}</h4>-->
                <!--<p>Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet</p>-->
               <!--<a href='#' class='externalink'><i class='fa fa-external-link'></a>">-->
            <!--</figure>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->

<!-------Featured-Products----->
<section class="common">
  <div class="container">
    <header class="common-header">
     <h2>Featured Products</h2>
    </header>
    <div class="row">
      <div ng-repeat="x in fproducts">
        <div class="col-sm-3">
          <div class="details">
            <img ng-src="{{x.fproductimg}}" alt="Owl Image">
            <article class="Newsarticle">
              <header>
                <h4>{{x.fproductheading}}</h4>
              </header>
              <p>{{x.fproductarticle}}</p>
            </article>
            <button class="btn"><i class="fa fa-plus"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<!--<section class="common">-->
<!--<div class="container" id="container">-->
<!--<div class="CommonLists">-->
<!--<header class="common-header">-->
 <!--<h2>Latest Products</h2>-->
<!--</header>-->
     <!--<div class="row">-->
      <!--<div id="Partner">-->
         <!--<div ng-repeat="x in PPdata">-->
            <!--<div class="item">-->
              <!--<div class="fproducts">-->
                <!--<figure class="fproduct">-->
                  <!--<img ng-src="{{x.ppimg}}" title="<h4>{{x.pph}}</h4>-->
                    <!--<p>Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet</p>-->
                    <!--<a href='#' class='externalink'><i class='fa fa-external-link'></a>">-->
               <!--</figure>-->
              <!--</div>-->
          <!--</div>-->
          <!--</div>-->
        <!--</div>-->
     <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->











<section class="common">
  <div class="container">
    <div class="CommonLists">
      <header class="common-header">
        <h2>Latest Products</h2>
      </header>
      <div class="row">
        <div id="Partner">
          <div class="item">
            <img src="/home/janar/everexpert-2/ng-boilerplate/src/assets/images/home/fullimage3.jpg" alt="Owl Image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>











<!------Services------>
<section class="common">
  <div class="container">
    <header class="common-header">
      <h2>Services</h2>
    </header>
    <div class="row">
      <div ng-repeat="x in Sdata">
        <div class="col-sm-3">
          <div class="services">
            <div class="serviceimg">
              <i class="{{x.si}}"></i>
            </div>
            <div class="serviceDetail">
              <h3>{{x.sh}}</h3>
              <p>{{x.sp}}</p>
              <a href="#" class="readmbtn">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--------Partners------->
<section class="common">
  <div class="container">
    <div class="CommonLists">
      <header class="common-header">
        <h2>Our Partners</h2>
      </header>
      <div class="row">
        <div id="NewsEvent">
          <div class="item"><img src="/home/janar/everexpert-2/ng-boilerplate/src/assets/images/home/apple.png" alt="Owl Image"></div>
          <div class="item"><img src="/home/janar/everexpert-2/ng-boilerplate/src/assets/images/home/google.png" alt="Owl Image"></div>
          <div class="item"><img src="/home/janar/everexpert-2/ng-boilerplate/src/assets/images/home/Microsoft.png" alt="Owl Image"></div>
          <div class="item"><img src="/home/janar/everexpert-2/ng-boilerplate/src/assets/images/home/apple.png" alt="Owl Image"></div>
          <div class="item"><img src="/home/janar/everexpert-2/ng-boilerplate/src/assets/images/home/Microsoft.png" alt="Owl Image"></div>
          <div class="item"><img src="/home/janar/everexpert-2/ng-boilerplate/src/assets/images/home/google.png" alt="Owl Image"></div>
          <div class="item"><img src="/home/janar/everexpert-2/ng-boilerplate/src/assets/images/home/apple.png" alt="Owl Image"></div>
          <div class="item"><img src="/home/janar/everexpert-2/ng-boilerplate/src/assets/images/home/Microsoft.png" alt="Owl Image"></div>
        </div>
      </div>
    </div>
  </div>
</section>